.Username {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: -20px;
  margin-right: auto;
}

.Phone {
  display: flex;
  align-items: center;
  gap: 7px;
}

.Person {
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70px;
  width: 260px;
}
